@{
    ViewBag.Title = "Contato";
}



<h2 class="text-center text-info">Contato</h2>
<hr />
<br><br>


<address>
    Rua das Pedras<br />
    Bairro do Limão, SP 04144-022<br />
    <p>Fone: (11)0236-5678</p>
    
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@golpixta.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@brilho.com</a>
</address>